:local .videoWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

:local .video {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
}
